<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="MySqlConnectionString" connectionString="Server=ap-cdbr-azure-east-a.cloudapp.net;Database=farmphoto;Uid=bbd5cc84372b8f;Password=7de9ac1c;" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="AdministratorUsername" value="Ken"/>
  </appSettings>
</configuration>