@model FarmPhoto.Website.Models.GalleryModel

@{
    ViewBag.Title = "Index";
}

<div id="ContentContainer">
    <div class="ContentContainerHeader">
        <h2>Gallery</h2>

        <h3>Welcome to the Galley when you can view photos submitted by others</h3>
    </div>
    @Html.Partial("_Gallery")

</div>
