@model FarmPhoto.Website.Models.GalleryModel

@{
    ViewBag.Title = "MyImages";
}

<div id="ContentContainer">
    @foreach (var photo in Model.PhotoModels)
{
    
        <div>
            @photo.Title
        </div>
    
        <div>
            @photo.Description
        </div>
    
        <div>
            <img src="@Url.Action("Image", "Gallery", new{id = photo.PhotoId})" alt="" />
        </div>
    
}
</div>
