@{
    ViewBag.Title = "AboutUs";
}

<div id="ContentContainer">

    <div class="ContentContainerHeader">
        <h2>About Us</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In lacinia libero at elit dictum ullamcorper. Donec cursus quis justo at facilisis. Quisque eget placerat massa. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nam tristique, velit et egestas sagittis, turpis nulla suscipit lectus, non consequat turpis ipsum non velit. Proin eu tellus tellus. Sed convallis dolor at lectus dignissim, vel adipiscing diam tempus. Aenean commodo congue iaculis. Curabitur vestibulum id nunc quis luctus. Vivamus ut lobortis neque.</p>
    </div>
</div>