@{
    ViewBag.Title = "Contact Us";
}

<div id="ContentContainer">

    <div class="ContentContainerHeader">
        <h2>Contact Us</h2>
        <h3>Use any of the below means to Contact FarmPhoto</h3>
    </div>
    <div class="contactus">
        <div class="initalBlurb">You can contact Ken at FarmPhoto by the following means:</div>

        <table class="contactUsTable">
            <tr>
                <td><b>Email:</b></td>
                <td>&nbsp;</td>
                <td><a href="mailto:farmphoto@hotmail.com">farmphoto@hotmail.com</a></td>
            </tr>
            <tr>
                <td colspan="3">&nbsp;</td>
            </tr>
            <tr valign="top">
                <td><b>Cell:</b></td>
                <td>&nbsp;</td>
                <td>Ken: 027 273 2 600
                </td>
            </tr>
            <tr>
                <td colspan="3">&nbsp;</td>
            </tr>

        </table>
        
        <div class="introText">“We look forward to hearing from you with your ideas and suggestions”</div>
    </div>
</div>
