@{
    Layout = "~/Views/Shared/_HomePageLayout.cshtml";
    ViewBag.Title = "Home Page";
}
<h1>
    @ViewBag.User
</h1>

<div id="photoBannerContainer">
    <!-- Each image is 350px by 233px -->
    <div class="photobanner">
        <img class="first" src="../../Content/Images/Image1.jpg" alt="">
        <img src="../../Content/Images/Image2.jpg" alt="">
        <img src="../../Content/Images/Image3.jpg" alt="">
        <img src="../../Content/Images/Image4.jpg" alt="">
        <img src="../../Content/Images/Image5.jpg" alt="">
        <img src="../../Content/Images/Image6.jpg" alt="">
        <img src="../../Content/Images/Image1.jpg" alt="">
        <img src="../../Content/Images/Image2.jpg" alt="">
        <img src="../../Content/Images/Image3.jpg" alt="">
        <img src="../../Content/Images/Image4.jpg" alt="">
    </div>
</div>

<div id="MainContentContainer">
    <div id="MostRecentPicture">
        <h2>Recently Added Photo</h2>
        <h3>Submitted By: James Walters</h3>
        <img src="@Url.Action("HomeImage", "Gallery")" alt="" />
    </div>
</div>
