@model FarmPhoto.Website.Models.PictureModel
@{
    ViewBag.Title = "Home Page";
}

<div id="container">
    <!-- Each image is 350px by 233px -->
    <div class="photobanner">
        <img class="first" src="../../Content/Images/Image1.jpg" alt="">
        <img src="../../Content/Images/Image2.jpg" alt="">
        <img src="../../Content/Images/Image3.jpg" alt="">
        <img src="../../Content/Images/Image4.jpg" alt="">
        <img src="../../Content/Images/Image5.jpg" alt="">
        <img src="../../Content/Images/Image6.jpg" alt="">
        <img src="../../Content/Images/Image1.jpg" alt="">
        <img src="../../Content/Images/Image2.jpg" alt="">
        <img src="../../Content/Images/Image3.jpg" alt="">
        <img src="../../Content/Images/Image4.jpg" alt="">
    </div>
    <div id="LeftColumn">
        <p>Left Hand Column</p>
    </div>

    <div id="MostRecentPicture">
        <h2>Recently Added Photo</h2>
        <h3>Submitted By: James Walters</h3>
        <img src="@Url.Action("GetMostRecentImage", "Home")" alt="Newest Added Picture" />
    </div>

    <div id="RightColumn">
        <p>Right Column</p>
    </div>

</div>
