@model FarmPhoto.Website.Models.GalleryModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Farm Photo";
}

@*<div id="photoBannerContainer">
    <div class="photobanner">
        <img class="first" src="~/Content/Images/Thumbnails/P1030794.JPG" />
        <img src="~/Content/Images/Thumbnails/P1030795.JPG" />
        <img src="~/Content/Images/Thumbnails/P1030796.JPG" />
        <img src="~/Content/Images/Thumbnails/P1030797.JPG" />
        <img src="~/Content/Images/Thumbnails/P1030798.JPG" />
        <img src="~/Content/Images/Thumbnails/P1030799.JPG" />
        <img src="~/Content/Images/Thumbnails/P1030800.JPG" />
        <img src="~/Content/Images/Thumbnails/P1030794.JPG" />
        <img src="~/Content/Images/Thumbnails/P1030795.JPG" />
        <img src="~/Content/Images/Thumbnails/P1030796.JPG" />
        <img src="~/Content/Images/Thumbnails/P1030797.JPG" />
    </div>
</div>*@

<div id="MainContentContainer">
    <div id="MostRecentPicture">

        @{
            var firstOrDefault = Model.PhotoModels.FirstOrDefault();
        }
        @if (firstOrDefault != null)
        {
            if (firstOrDefault.SubmittedBy != null)
            {
                <div class="ContentContainerHeader">
                    <h2>Most Recently Added Photo</h2>
                    <h3>@firstOrDefault.Title</h3>
                    <h3>Submitted By @firstOrDefault.SubmittedBy</h3>
                    
                </div>
            <div class="portraitframe">
                <img src="@Url.Action("HomeImage", "Gallery")" alt="" />
            </div>
            }
            else
            {
            <h2>Recently Added Photo</h2>
            <h3>No Pictures have been added yet</h3>
            }
        }

    </div>
</div>
