#ContentContainer {
    background: white;
    width: 1000px;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    float: left;
    min-height: 456px; 
    height: 100%;
    position: relative; 
}

.ContentContainerHeader {
    padding-left: 49px;
    padding-top: 5px;
    padding-bottom: 10px;
    background: RGB(238, 230,216); 
}


#LeftColumn {
    margin-top: 5px;
    margin-right: 5px;
    width: 150px;
    height: 100%;
    float: left;
    background-color: #036;
}

#RightColumn {
    float: left;
    background: white;
    margin-top: 5px;
    margin-left: auto;
    width: 150px;
    height: 100%;
}


#PageContent {
    width: 1000px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

#InnerContent {
    /*background: orange;*/
}
