<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://farmphoto.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>waws-prod-hk1-001.publish.azurewebsites.windows.net:443</MSDeployServiceURL>
    <DeployIisAppPath>farmphoto</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$farmphoto</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="MySqlConnectionString" Order="1" Enabled="False">
          <Destination Path="Data Source=ap-cdbr-azure-east-a.cloudapp.net;Initial Catalog=FarmPhoto;User ID=bbd5cc84372b8f;Password=7de9ac1c" Name="Database=FarmPhoto;Data Source=ap-cdbr-azure-east-a.cloudapp.net;User Id=bbd5cc84372b8f;Password=7de9ac1c" />
          <Object Type="DbDacFx">
            <PreSource Path="server=ap-cdbr-azure-east-a.cloudapp.net;database=farmphoto;User Id=bbd5cc84372b8f;password=7de9ac1c" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\MySqlConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=ap-cdbr-azure-east-a.cloudapp.net;Database=farmphoto;Uid=bbd5cc84372b8f;Password=7de9ac1c;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)MySqlConnectionString-Web.config Connection String">
      <ParameterValue>Database=FarmPhoto;Data Source=ap-cdbr-azure-east-a.cloudapp.net;User Id=bbd5cc84372b8f;Password=7de9ac1c</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>