<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://farmphoto.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>waws-prod-db3-003.publish.azurewebsites.windows.net:443</MSDeployServiceURL>
    <DeployIisAppPath>farmphoto</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$farmphoto</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="MySqlConnectionString" Order="1" Enabled="False">
          <Destination Path="Data Source=eu-cdbr-azure-north-a.cloudapp.net;Initial Catalog=cdb_33306e3af3;User ID=b62934cbe0ce79;Password=e3a11ac0" Name="Database=cdb_33306e3af3;Data Source=eu-cdbr-azure-north-a.cloudapp.net;User Id=b62934cbe0ce79;Password=e3a11ac0" />
          <Object Type="DbDacFx">
            <PreSource Path="Server=eu-cdbr-azure-north-a.cloudapp.net;Database=cdb_33306e3af3;Uid=b62934cbe0ce79;Password=e3a11ac0;" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\MySqlConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=eu-cdbr-azure-north-a.cloudapp.net;Database=cdb_33306e3af3;Uid=b62934cbe0ce79;Password=e3a11ac0;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)MySqlConnectionString-Web.config Connection String">
      <ParameterValue>Database=cdb_33306e3af3;Data Source=eu-cdbr-azure-north-a.cloudapp.net;User Id=b62934cbe0ce79;Password=e3a11ac0</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>