@{
    ViewBag.Title = "Submission";
}

<h2>Index</h2>

<div id="container">
    @using (Html.BeginForm("Index", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <input type="file" name="file" />
        <input type="submit" value="OK" />
    }
</div>
